<%- include('./components/head.ejs') -%>
<div class="world">
    <img src="/images/boompie.png" class="treeImage" alt="boompie">
    <img src="/images/boompie.png" class="treeImage" alt="boompie">
    <img src="/images/boompie.png" class="treeImage" alt="boompie">
    <img src="/images/boompie.png" class="treeImage" alt="boompie">
    <img src="/images/boompie.png" class="treeImage" alt="boompie">
    <img src="/images/boompie.png" class="treeImage" alt="boompie">
    <%- include('./components/billboards.ejs') -%>
    <%- include('./components/avatar.ejs') -%>
    <%- include('./components/dropdown.ejs') -%>
</div>
<%- include('./components/footer.ejs') -%>
